<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="
    background: url(/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #1b1e21;
">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </body>
</html>
