{% extends 'base.html.twig' %}

{% block title %}EVEAuth Login{% endblock %}

{% block body %}
    <div class="m-1 row" style="text-align: center;">
        <div class="col-12">
            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'eveonline' }) }}">
                <img src="/images/eve-sso-login-black-large.png" alt="Login with EVE">
            </a>
        </div>
    </div>
{% endblock %}